@charset "utf-8";
/* CSS Document */

.bloc {
    width: 100%;
    background: 50% 50% no-repeat;
        background-size: auto;
    padding: 0;
        padding-top: 0px;
        padding-right: 0px;
        padding-left: 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}
.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-image: url(../img/homepage.jpg);
}
.v-center {
    position: relative;
    height: inherit;
}
.hero .hero-nav {
    padding-left: inherit;
    padding-right: inherit;
}
.bloc .container {
    padding-left: 0;
    padding-right: 0;
}
.hero-nav {
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
}
.bloc-sm {
    padding: 20px 50px;
        padding-right: 50px;
        padding-left: 50px;
}
.v-center .vc-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
#hero-bloc h1 {
    font-size: 50px;
}
.padt {
    padding-top: 40px;
}
.mg-xxl {
    margin-bottom: 100px;
}
.hero .btn-dwn {
    width: 58px;
    height: 58px;
    line-height: 58px;
    margin: 0 0 0 -29px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    font-size: 18px;
    color: rgba(255,255,255,.8);
    background: transparent;
    position: absolute;
    left: 50%;
    bottom: 60px;
}

.canada{ padding-top: 70px; padding-bottom: 70px; }
.canada h5{ font-size: 18px; font-weight: normal; text-align: justify; }
.canada h2{ font-size: 30px; font-weight: 700; color: #fff; }
.set-up  h5{  margin-bottom: 10px; }

.ser-section{ padding-bottom: 70px; background-color: #f8f8f8; padding-top: 60px;}
.ser-section h2{ color: #1d2143; font-family: 'Roboto', sans-serif; font-weight: bold; text-align: center;  }
.ser-section h6{ font-size: 20px; color: #666; text-align: center; font-weight: normal; font-family: 'Raleway', sans-serif; line-height: 30px; padding-bottom: 30px; }
.ser-section a{ color: #c6a207; }
.ser-section a:hover{ color: #fff; }
.ser-section figure{ background-color: #fff; padding-bottom: 15px; }
.ser-section p{ font-size: 12px; color: #fff; margin-bottom: 0px; }
.abt-us{ padding: 50px; } 
.abt-us h2{color: #fff; font-family: 'Roboto', sans-serif; font-weight: bold; text-align: center;  }
.abt-us p{ font-family: 'Raleway', sans-serif; color: #f8f8f8; font-size: 16px; text-align: justify; }
.about-section {}
.about-section span{ color: #caa702; text-transform: uppercase; font-weight: 600; font-family: 'Raleway', sans-serif; }
.about-section h5{ font-size: 26px;  }
.about-section span{font-family: 'Montserrat', sans-serif; font-weight:900;}
.about-section p{ text-align: justify; }
.abt-ser{}
.abt-ser .content{ background-color: #fff; opacity: 0.8; }
.abt-ser h4{ font-size: 28px; text-align: center;  color: #fff; }
.abt-ser h2{ font-size: 32px; text-align: center;  color: #fff;  font-weight: bold;}
.clnt{ background-color: #f8f8f8; padding-top: 60px; padding-bottom: 50px; }
.feature-box-18:hover .feature-box-overlay {
    opacity: 1;
}
.feature-box-18:hover i, .feature-box-18:hover div, .feature-box-18:hover p {
    color: #fff;
}
.bg-deep-pink {
    background-color: #ff214f;
}
.business-light-gray {
    background-color:  #f7f7f7;
}
.business-light-gray:hover {
    background-color:  #ff214f;
}
.con-expt{}
.con-expt .btn.btn-transparent-dark-gray {
    background: transparent;
    border-color: #fff;
    color: #fff;
}
.con-expt .btn.btn-transparent-dark-gray:hover {
    background: #fff;
    border-color: #ff214f;
    color: #000;
}
.popup-content{}
.popup-contentt img{ width: 100%; padding-top: 20px; }
.popup-content h3{ font-size: 20px; font-weight: 700;  color: #000; text-align: left; margin-bottom: 0px; }
.popup-content p{ font-size: 16px;  color: #666; text-align: justify; margin-bottom: 0px; }
.popup-btn{ float: left; }
.popup-btn .btn.btn-dark-gray {
    background: #232323;
    border-color: #232323;
    color: #fff;
    font-size: 14px; margin-top: 20px;
}
.popup-btn .btn.btn-dark-gray:hover {
    background: #fff;
    border-color: #000;
    color: #000;
}
.popup-btn .btn.btn-rounded.btn-medium {
    padding: 3px 17px;
}
.about-section{}
.about-section span{ font-family: 'Montserrat', sans-serif; font-weight:900; color: #000; }
.business-solution{  }
.business-solution span{ font-family: 'Montserrat', sans-serif; font-weight:900; color: #000; font-size: 16px; }
